/* Navbar.css */
.navbar{
    background-color: #c9cdd3eb;
}
.custom-input {
    width: 1200px !important;
    border: 1px solid black;
    margin-right: 20px;
  }
  
  .plus-icon button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s;
    border: none;
    margin-right: 10px;
    position: relative; 
  }
  
 
  .plus-icon button svg {
    color: #151515; /* Set the color of the plus symbol */
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.2rem;
   
  }
  
  .plus-icon button:hover {
    color: #ecdcdc;
    background-color: #b0c4ef;
  }
  .product-setting-icon {
    font-size: 1.2rem; 
    color: #000; 
    cursor: pointer; 
    margin-right: 10px;
  }
  