.left-div-container {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.specify-table-size {
  flex-grow: 1;
  overflow: auto;
}

.specify-table-size .MuiTableContainer-root {
  max-height: 100%; /* Adjust this value to control the maximum height of the table */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.specify-table-size .MuiTableCell-root {
  font-size: 14px; /* Adjust font size as needed */
  padding: 8px 16px; /* Adjust cell padding as needed */
}

.specify-table-size .MuiTableHead-root {
  background-color: #f5f5f5; /* Customize table header background color */
}

.specify-table-size .MuiTableRow-root:hover {
  background-color: #f9f9f9; /* Customize row hover background color */
}

.specify-table-size .MuiTablePagination-caption {
  font-size: 14px; /* Adjust pagination font size as needed */
}

.specify-table-size .MuiTablePagination-actions {
  font-size: 14px; /* Adjust pagination button font size as needed */
}

/* Set the height of LeftDiv to match the height of the full left pane */
.left-content-container.left-part {
  height: 100%;
}
