.left-part {
  display: flex;
  flex-direction: column;
  height: 150vh;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .left-content-container {
    width: 80%;
    margin: 0 auto;
  }
}
