.main-container {
  height: 100vh;
  display: flex;
  position: relative;
}

.left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .left-content,
  .right-content {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    flex-direction: row;
  }

  .left-content,
  .right-content {
    width: 50%;
    margin: 0;
  }
}
