
.right-navbar {

  display: flex;
  justify-content: flex-end;
  background-color: rgb(22, 40, 111);
  color: whitesmoke;
}

.plus-icon {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.plus-icon button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s;
  border: none;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.plus-icon button svg {
  color: #151515;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.plus-icon button:hover {
  color: #ecdcdc;
  background-color: #b0c4ef;
}

.product-setting-icon {
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
  margin-right: 10px;
}

h4 {
  margin-right: 20px;
}

.custom-button-right-header {
  color: #fff;
  border: 1px solid whitesmoke;
}

@media screen and (max-width: 768px) {
  .plus-icon {
    margin-left: 20px;
  }

  .plus-icon button {
    margin-right: 5px;
  }

  .product-setting-icon {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .plus-icon {
    margin-left: 200px;
  }

  .plus-icon button {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .product-setting-icon {
    font-size: 1.5rem;
    margin-right: 20px;
  }

  h4 {
    margin-right: 40px;
  }
}
